<a href="https://colab.research.google.com/github/LathaGovindarajan/Machine-Learning/blob/main/RNN_Google_stock_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import  pandas as pd

In [ ]:
dataset_train=pd.read_csv("/content/Google_Stock_Price_Train.csv")

In [ ]:
dataset_train

            Date    Open    High     Low   Close      Volume
0       1/3/2012  325.25  332.83  324.97  663.59   7,380,500
1       1/4/2012  331.27  333.87  329.08  666.45   5,749,400
2       1/5/2012  329.83  330.75  326.89  657.21   6,590,300
3       1/6/2012  328.34  328.77  323.68  648.24   5,405,900
4       1/9/2012  322.04  322.29  309.46  620.76  11,688,800
...          ...     ...     ...     ...     ...         ...
1253  12/23/2016  790.90  792.74  787.28  789.91     623,400
1254  12/27/2016  790.68  797.86  787.66  791.55     789,100
1255  12/28/2016  793.70  794.23  783.20  785.05   1,153,800
1256  12/29/2016  783.33  785.93  778.92  782.79     744,300
1257  12/30/2016  782.75  782.78  770.41  771.82   1,770,000

[1258 rows x 6 columns]

In [ ]:
dataset_test=pd.read_csv("/content/Google_Stock_Price_Test.csv")

In [ ]:
dataset_test

          Date    Open    High     Low   Close     Volume
0   01-03-2017  778.81  789.63  775.80  786.14  16,57,300
1   01-04-2017  788.36  791.34  783.16  786.90  10,73,000
2   01-05-2017  786.08  794.48  785.02  794.02  13,35,200
3   01-06-2017  795.26  807.90  792.20  806.15  16,40,200
4   01-09-2017  806.40  809.97  802.83  806.65  12,72,400
5   01-10-2017  807.86  809.13  803.51  804.79  11,76,800
6   01-11-2017  805.00  808.15  801.37  807.91  10,65,900
7   01-12-2017  807.14  807.39  799.17  806.36  13,53,100
8    1/13/2017  807.48  811.22  806.69  807.88  10,99,200
9    1/17/2017  807.08  807.14  800.37  804.61  13,62,100
10   1/18/2017  805.81  806.21  800.99  806.07  12,94,400
11   1/19/2017  805.12  809.48  801.80  802.17   9,19,300
12   1/20/2017  806.91  806.91  801.69  805.02  16,70,000
13   1/23/2017  807.25  820.87  803.74  819.31  19,63,600
14   1/24/2017  822.30  825.90  817.82  823.87  14,74,000
15   1/25/2017  829.62  835.77  825.06  835.67  14,94,500
16   1/26/2017  837.81  838.00  827.01  832.15  29,73,900
17   1/27/2017  834.71  841.95  820.44  823.31  29,65,800
18   1/30/2017  814.66  815.84  799.80  802.32  32,46,600
19   1/31/2017  796.86  801.25  790.52  796.79  21,60,600

In [ ]:
training_set=dataset_train.iloc[:,1:2].values

In [ ]:
training_set

array([[325.25],
       [331.27],
       [329.83],
       ...,
       [793.7 ],
       [783.33],
       [782.75]])

In [ ]:
#feature scaling
from sklearn.preprocessing import MinMaxScaler
sc=MinMaxScaler(feature_range=(0,1))
training_set_scaled= sc.fit_transform(training_set)

In [ ]:
#60 previous financial days in 3 months
X_train=[]
y_train=[]
for i in range(60,1258):
  X_train.append(training_set_scaled[i-60:i,0])
  y_train.append(training_set_scaled[i,0])
X_train, y_train= np.array(X_train), np.array(y_train)

In [ ]:
X_train=np.reshape(X_train,(X_train.shape[0],X_train.shape[1],1))

In [ ]:
X_train.shape

(1198, 60, 1)

In [ ]:
from keras.models import Sequential
from keras.layers import Dense, Activation, SimpleRNN

In [ ]:
#model is Rnn
model= Sequential()
model.add(SimpleRNN(units=50, input_shape=(X_train.shape[1],1)))
model.add(Dense(1))
model.add(Activation('softmax'))

In [ ]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 simple_rnn (SimpleRNN)      (None, 50)                2600

 dense (Dense)               (None, 1)                 51

 activation (Activation)     (None, 1)                 0

=================================================================
Total params: 2,651
Trainable params: 2,651
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.compile(optimizer='adam',loss='mean_squared_error',metrics=['mse'])

In [ ]:
model.fit(X_train, y_train, epochs=10)

Epoch 1/10
38/38 [==============================] - 5s 22ms/step - loss: 0.3296 - mse: 0.3296
Epoch 2/10
38/38 [==============================] - 1s 27ms/step - loss: 0.3296 - mse: 0.3296
Epoch 3/10
38/38 [==============================] - 1s 26ms/step - loss: 0.3296 - mse: 0.3296
Epoch 4/10
38/38 [==============================] - 1s 25ms/step - loss: 0.3296 - mse: 0.3296
Epoch 5/10
38/38 [==============================] - 1s 25ms/step - loss: 0.3296 - mse: 0.3296
Epoch 6/10
38/38 [==============================] - 1s 21ms/step - loss: 0.3296 - mse: 0.3296
Epoch 7/10
38/38 [==============================] - 1s 23ms/step - loss: 0.3296 - mse: 0.3296
Epoch 8/10
38/38 [==============================] - 0s 12ms/step - loss: 0.3296 - mse: 0.3296
Epoch 9/10
38/38 [==============================] - 0s 12ms/step - loss: 0.3296 - mse: 0.3296
Epoch 10/10
38/38 [==============================] - 1s 14ms/step - loss: 0.3296 - mse: 0.3296

In [ ]:
#lstm

In [ ]:
from keras.layers import LSTM

In [ ]:
model1= Sequential()
model1.add(LSTM(units=10, input_shape=(X_train.shape[1],1)))
model1.add(Dense(1))
model1.add(Activation('softmax'))

In [ ]:
model1.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm (LSTM)                 (None, 10)                480

 dense_1 (Dense)             (None, 1)                 11

 activation_1 (Activation)   (None, 1)                 0

=================================================================
Total params: 491
Trainable params: 491
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model1.compile(optimizer='adam',loss='categorical_crossentropy',metrics=['mse'])

In [ ]:
model1.fit(X_train, y_train, epochs=10)

Epoch 1/10

/usr/local/lib/python3.10/dist-packages/tensorflow/python/util/dispatch.py:1176: SyntaxWarning: In loss categorical_crossentropy, expected y_pred.shape to be (batch_size, num_classes) with num_classes > 1. Received: y_pred.shape=(None, 1). Consider using 'binary_crossentropy' if you only have 2 classes.
  return dispatch_target(*args, **kwargs)

38/38 [==============================] - 4s 24ms/step - loss: 0.0000e+00 - mse: 0.3296
Epoch 2/10
38/38 [==============================] - 1s 22ms/step - loss: 0.0000e+00 - mse: 0.3296
Epoch 3/10
38/38 [==============================] - 1s 24ms/step - loss: 0.0000e+00 - mse: 0.3296
Epoch 4/10
38/38 [==============================] - 1s 24ms/step - loss: 0.0000e+00 - mse: 0.3296
Epoch 5/10
38/38 [==============================] - 1s 23ms/step - loss: 0.0000e+00 - mse: 0.3296
Epoch 6/10
38/38 [==============================] - 1s 22ms/step - loss: 0.0000e+00 - mse: 0.3296
Epoch 7/10
38/38 [==============================] - 1s 23ms/step - loss: 0.0000e+00 - mse: 0.3296
Epoch 8/10
38/38 [==============================] - 1s 22ms/step - loss: 0.0000e+00 - mse: 0.3296
Epoch 9/10
38/38 [==============================] - 1s 28ms/step - loss: 0.0000e+00 - mse: 0.3296
Epoch 10/10
38/38 [==============================] - 1s 35ms/step - loss: 0.0000e+00 - mse: 0.3296

In [ ]:
#stacked lstm

In [ ]:
model2=Sequential()
model2.add(LSTM(units=10, return_sequences=True,input_shape=(X_train.shape[1],1)))
model2.add(LSTM(units=50, return_sequences=True))
model2.add(LSTM(units=100, return_sequences=True))
model2.add(LSTM(units=150, return_sequences=False))
model1.add(Dense(units=1))
model1.add(Activation('softmax'))

In [ ]:
model2.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_1 (LSTM)               (None, 60, 10)            480

 lstm_2 (LSTM)               (None, 60, 50)            12200

 lstm_3 (LSTM)               (None, 60, 100)           60400

 lstm_4 (LSTM)               (None, 150)               150600

=================================================================
Total params: 223,680
Trainable params: 223,680
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model2.compile(optimizer='adam',loss='mean_squared_error',metrics=['mean_squared_error'])

In [ ]:
model2.fit(X_train, y_train, epochs=10)

Epoch 1/10
38/38 [==============================] - 19s 265ms/step - loss: 0.1010 - mean_squared_error: 0.1010
Epoch 2/10
38/38 [==============================] - 9s 234ms/step - loss: 0.0096 - mean_squared_error: 0.0096
Epoch 3/10
38/38 [==============================] - 9s 231ms/step - loss: 0.0034 - mean_squared_error: 0.0034
Epoch 4/10
38/38 [==============================] - 8s 198ms/step - loss: 0.0029 - mean_squared_error: 0.0029
Epoch 5/10
38/38 [==============================] - 9s 232ms/step - loss: 0.0027 - mean_squared_error: 0.0027
Epoch 6/10
38/38 [==============================] - 9s 233ms/step - loss: 0.0023 - mean_squared_error: 0.0023
Epoch 7/10
38/38 [==============================] - 7s 197ms/step - loss: 0.0023 - mean_squared_error: 0.0023
Epoch 8/10
38/38 [==============================] - 9s 230ms/step - loss: 0.0025 - mean_squared_error: 0.0025
Epoch 9/10
38/38 [==============================] - 8s 220ms/step - loss: 0.0024 - mean_squared_error: 0.0024
Epoch 10/10
38/38 [==============================] - 9s 225ms/step - loss: 0.0020 - mean_squared_error: 0.0020

In [ ]:
#gru

In [ ]:
from keras.layers import GRU
from keras.layers import  Dropout

In [ ]:
model3=Sequential()
model3.add(GRU(units=10, return_sequences=True,input_shape=(X_train.shape[1],1)))
model3.add(Dropout(0.5))
model3.add(Activation('relu'))
model3.add(GRU(units=50, return_sequences=True))
model3.add(GRU(units=100, return_sequences=True))
model3.add(GRU(units=150, return_sequences=False))
model3.add(Dense(units=1))
model3.add(Activation('softmax'))

In [ ]:
model3.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 gru (GRU)                   (None, 60, 10)            390

 dropout (Dropout)           (None, 60, 10)            0

 activation_3 (Activation)   (None, 60, 10)            0

 gru_1 (GRU)                 (None, 60, 50)            9300

 gru_2 (GRU)                 (None, 60, 100)           45600

 gru_3 (GRU)                 (None, 150)               113400

 dense_3 (Dense)             (None, 1)                 151

 activation_4 (Activation)   (None, 1)                 0

=================================================================
Total params: 168,841
Trainable params: 168,841
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model3.compile(optimizer='adam',loss='mean_squared_error',metrics=['mean_squared_error'])

In [ ]:
model3.fit(X_train, y_train, epochs=10)

Epoch 1/10
38/38 [==============================] - 17s 195ms/step - loss: 0.3296 - mean_squared_error: 0.3296
Epoch 2/10
38/38 [==============================] - 8s 219ms/step - loss: 0.3296 - mean_squared_error: 0.3296
Epoch 3/10
38/38 [==============================] - 7s 183ms/step - loss: 0.3296 - mean_squared_error: 0.3296
Epoch 4/10
38/38 [==============================] - 8s 219ms/step - loss: 0.3296 - mean_squared_error: 0.3296
Epoch 5/10
38/38 [==============================] - 8s 211ms/step - loss: 0.3296 - mean_squared_error: 0.3296
Epoch 6/10
38/38 [==============================] - 7s 188ms/step - loss: 0.3296 - mean_squared_error: 0.3296
Epoch 7/10
38/38 [==============================] - 8s 217ms/step - loss: 0.3296 - mean_squared_error: 0.3296
Epoch 8/10
38/38 [==============================] - 7s 185ms/step - loss: 0.3296 - mean_squared_error: 0.3296
Epoch 9/10
38/38 [==============================] - 9s 227ms/step - loss: 0.3296 - mean_squared_error: 0.3296
Epoch 10/10
38/38 [==============================] - 8s 222ms/step - loss: 0.3296 - mean_squared_error: 0.3296

In [ ]:
#bidirectional lstm

In [ ]:
from keras.layers import TimeDistributed
from keras.layers import Bidirectional,BatchNormalization
from keras.optimizers import RMSprop

In [ ]:
window_size=60

In [ ]:
model4=Sequential()
model4.add(Bidirectional(LSTM(100, return_sequences=True,activation='relu',input_shape=(1,window_size))))
model4.add(Bidirectional(LSTM(50, return_sequences=True,dropout=0.5)))
model4.add(Bidirectional(LSTM(100,return_sequences=True)))
model4.add(BatchNormalization(momentum=0.6))
model4.add(Dense(1))

In [ ]:
model4.summary()

Model: "sequential_8"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 bidirectional_9 (Bidirectio  (None, 60, 200)          81600
 nal)

 bidirectional_10 (Bidirecti  (None, 60, 100)          100400
 onal)

 bidirectional_11 (Bidirecti  (None, 60, 200)          160800
 onal)

 batch_normalization_3 (Batc  (None, 60, 200)          800
 hNormalization)

 dense_7 (Dense)             (None, 60, 1)             201

=================================================================
Total params: 343,801
Trainable params: 343,401
Non-trainable params: 400
_________________________________________________________________

In [ ]:
model4.compile(loss='mean_squared_error',optimizer='adam')

In [ ]:
model4.fit(X_train,y_train,epochs=10)

Epoch 1/10
38/38 [==============================] - 27s 331ms/step - loss: 0.2228
Epoch 2/10
38/38 [==============================] - 20s 506ms/step - loss: 0.0770
Epoch 3/10
38/38 [==============================] - 11s 295ms/step - loss: 0.0756
Epoch 4/10
38/38 [==============================] - 11s 295ms/step - loss: 0.0754
Epoch 5/10
38/38 [==============================] - 11s 284ms/step - loss: 0.0751
Epoch 6/10
38/38 [==============================] - 11s 280ms/step - loss: 0.0752
Epoch 7/10
38/38 [==============================] - 10s 260ms/step - loss: 0.0748
Epoch 8/10
38/38 [==============================] - 11s 286ms/step - loss: 0.0748
Epoch 9/10
38/38 [==============================] - 11s 286ms/step - loss: 0.0748
Epoch 10/10
38/38 [==============================] - 11s 288ms/step - loss: 0.0748